body, html {
    margin: 0;
    padding: 0;

    background-color: #333;
}
ul {
    padding-left: 20px;
}
ul li {
    margin-bottom: 5px;
    list-style-type: square;
}
ul li::marker {
    color: #ffffff55;
}